<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
       <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/favicon-16x16.png">
    <link rel="manifest" href="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://javracommerce.com/wp-content/themes/javra-software/assets/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="profile" href="https://gmpg.org/xfn/11">

    <title>Pimcore | Javra Software Pvt. Ltd.</title>

<!-- All in One SEO Pack 3.3.5 by Michael Torbert of Semper Fi Web Design[2735,2782] -->
<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script type="application/ld+json" class="aioseop-schema">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://javracommerce.com/#organization","url":"https://javracommerce.com/","name":"Javra Software Pvt. Ltd.","sameAs":[]},{"@type":"WebSite","@id":"https://javracommerce.com/#website","url":"https://javracommerce.com/","name":"Javra Software Pvt. Ltd.","publisher":{"@id":"https://javracommerce.com/#organization"},"potentialAction":{"@type":"SearchAction","target":"https://javracommerce.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"https://javracommerce.com/pimcore/#webpage","url":"https://javracommerce.com/pimcore/","inLanguage":"en-US","name":"Pimcore","isPartOf":{"@id":"https://javracommerce.com/#website"},"datePublished":"2019-07-18T04:38:37+00:00","dateModified":"2020-02-11T10:44:20+00:00"}]}</script>
<link rel="canonical" href="https://javracommerce.com/pimcore/">
<meta property="og:type" content="article">
<meta property="og:title" content="Pimcore | Javra Software Pvt. Ltd.">
<meta property="og:description" content="Digital Experience Platform Pimcore is an award-winning software, which delivers significant business value by breaking up data silos that exist in many enterprises. Offering a single digital platform">
<meta property="og:url" content="https://javracommerce.com/pimcore/">
<meta property="og:site_name" content="Javra Software Pvt. Ltd.">
<meta property="og:image" content="https://javracommerce.com/wp-content/uploads/2020/03/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<meta property="article:published_time" content="2019-07-18T04:38:37Z">
<meta property="article:modified_time" content="2020-02-11T10:44:20Z">
<meta property="og:image:secure_url" content="https://javracommerce.com/wp-content/uploads/2020/03/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Pimcore | Javra Software Pvt. Ltd.">
<meta name="twitter:description" content="Digital Experience Platform Pimcore is an award-winning software, which delivers significant business value by breaking up data silos that exist in many enterprises. Offering a single digital platform">
<meta name="twitter:image" content="https://javracommerce.com/wp-content/uploads/2020/03/photo-1502945015378-0e284ca1a5be-e1558510128619.jpeg">
<!-- All in One SEO Pack -->
<link rel="dns-prefetch" href="//unpkg.com">
<link rel="dns-prefetch" href="//code.ionicframework.com">
<link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
<link rel="dns-prefetch" href="//use.fontawesome.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="Javra Software Pvt. Ltd. » Feed" href="https://javracommerce.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Javra Software Pvt. Ltd. » Comments Feed" href="https://javracommerce.com/comments/feed/">
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/javracommerce.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.5"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="https://javracommerce.com/wp-includes/js/wp-emoji-release.min.js?ver=5.2.5" type="text/javascript" defer=""></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel="stylesheet" id="wp-block-library-css" href="https://javracommerce.com/wp-includes/css/dist/block-library/style.min.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="common-card-style-css" href="https://javracommerce.com/wp-content/plugins/card-elements-for-elementor/assets/css/common-card-style.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="profile-card-style-css" href="https://javracommerce.com/wp-content/plugins/card-elements-for-elementor/assets/css/profile-card-style.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="testimonial-card-style-css" href="https://javracommerce.com/wp-content/plugins/card-elements-for-elementor/assets/css/testimonial-card-style.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="post-card-style-css" href="https://javracommerce.com/wp-content/plugins/card-elements-for-elementor/assets/css/post-card-style.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="https://javracommerce.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.3" type="text/css" media="all">
<link rel="stylesheet" id="cookie-law-info-css" href="https://javracommerce.com/wp-content/plugins/cookie-law-info/public/css/cookie-law-info-public.css?ver=1.8.3" type="text/css" media="all">
<link rel="stylesheet" id="cookie-law-info-gdpr-css" href="https://javracommerce.com/wp-content/plugins/cookie-law-info/public/css/cookie-law-info-gdpr.css?ver=1.8.3" type="text/css" media="all">
<link rel="stylesheet" id="socialsnap-styles-css" href="https://javracommerce.com/wp-content/plugins/socialsnap/assets/css/socialsnap.css?ver=1.1.5.2" type="text/css" media="all">
<link rel="stylesheet" id="eael-front-end-css" href="//javracommerce.com/wp-content/essential-addons-elementor/eael-post-13306.min.css?ver=3.1.3" type="text/css" media="all">
<link rel="stylesheet" id="javra-software-style-css" href="https://javracommerce.com/wp-content/themes/javra-software/style.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="ionicons-css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="fontawesome-css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="theme-style-css" href="https://javracommerce.com/wp-content/themes/javra-software/style.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="owl-style-css" href="https://javracommerce.com/wp-content/themes/javra-software/js/owlcarousel/assets/owl.carousel.min.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-official-css" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" type="text/css" media="all" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
<link rel="stylesheet" id="elementor-icons-css" href="https://javracommerce.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.3.0" type="text/css" media="all">
<link rel="stylesheet" id="elementor-animations-css" href="https://javracommerce.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.6.2" type="text/css" media="all">
<link rel="stylesheet" id="elementor-frontend-css" href="https://javracommerce.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.6.2" type="text/css" media="all">
<link rel="stylesheet" id="lae-animate-styles-css" href="https://javracommerce.com/wp-content/plugins/addons-for-elementor/assets/css/animate.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-sliders-styles-css" href="https://javracommerce.com/wp-content/plugins/addons-for-elementor/assets/css/sliders.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-icomoon-styles-css" href="https://javracommerce.com/wp-content/plugins/addons-for-elementor/assets/css/icomoon.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-frontend-styles-css" href="https://javracommerce.com/wp-content/plugins/addons-for-elementor/assets/css/lae-frontend.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="lae-widgets-styles-css" href="https://javracommerce.com/wp-content/plugins/addons-for-elementor/assets/css/lae-widgets.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-5-all-css" href="https://javracommerce.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/all.min.css?ver=2.6.2" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-4-shim-css" href="https://javracommerce.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min.css?ver=2.6.2" type="text/css" media="all">
<link rel="stylesheet" id="elementor-global-css" href="https://javracommerce.com/wp-content/uploads/elementor/css/global.css?ver=1580469599" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-13306-css" href="https://javracommerce.com/wp-content/uploads/elementor/css/post-13306.css?ver=1581417197" type="text/css" media="all">
<link rel="stylesheet" id="happy-icons-css" href="https://javracommerce.com/wp-content/plugins/happy-elementor-addons/assets/fonts/style.min.css?ver=2.4.2" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="https://javracommerce.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=4.7.0" type="text/css" media="all">
<link rel="stylesheet" id="twentytwenty-css" href="https://javracommerce.com/wp-content/plugins/happy-elementor-addons/assets/vendor/twentytwenty/css/twentytwenty.css?ver=2.4.2" type="text/css" media="all">
<link rel="stylesheet" id="justifiedGallery-css" href="https://javracommerce.com/wp-content/plugins/happy-elementor-addons/assets/vendor/justifiedGallery/css/justifiedGallery.min.css?ver=2.4.2" type="text/css" media="all">
<link rel="stylesheet" id="magnific-popup-css" href="https://javracommerce.com/wp-content/plugins/happy-elementor-addons/assets/vendor/magnific-popup/magnific-popup.css?ver=2.4.2" type="text/css" media="all">
<link rel="stylesheet" id="slick-css" href="https://javracommerce.com/wp-content/plugins/happy-elementor-addons/assets/vendor/slick/slick.css?ver=2.4.2" type="text/css" media="all">
<link rel="stylesheet" id="slick-theme-css" href="https://javracommerce.com/wp-content/plugins/happy-elementor-addons/assets/vendor/slick/slick-theme.css?ver=2.4.2" type="text/css" media="all">
<link rel="stylesheet" id="happy-elementor-addons-css" href="https://javracommerce.com/wp-content/plugins/happy-elementor-addons/assets/css/main.min.css?ver=2.4.2" type="text/css" media="all">
<link rel="stylesheet" id="gradient-button-elementor-frontend-style-css" href="https://javracommerce.com/wp-content/plugins/gradient-button-for-elementor/assets/css/frontend.css?ver=1.0.2" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-official-v4shim-css" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css" type="text/css" media="all" integrity="sha384-C8a18+Gvny8XkjAdfto/vjAUdpGuPtl1Ix/K2BgKhFaVO6w4onVVHiEaN9h9XsvX" crossorigin="anonymous">
<style id="font-awesome-official-v4shim-inline-css" type="text/css">
@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.eot"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.eot"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.eot"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.svg#fontawesome") format("svg");
unicode-range: U+F004-F005,U+F007,U+F017,U+F022,U+F024,U+F02E,U+F03E,U+F044,U+F057-F059,U+F06E,U+F070,U+F075,U+F07B-F07C,U+F080,U+F086,U+F089,U+F094,U+F09D,U+F0A0,U+F0A4-F0A7,U+F0C5,U+F0C7-F0C8,U+F0E0,U+F0EB,U+F0F3,U+F0F8,U+F0FE,U+F111,U+F118-F11A,U+F11C,U+F133,U+F144,U+F146,U+F14A,U+F14D-F14E,U+F150-F152,U+F15B-F15C,U+F164-F165,U+F185-F186,U+F191-F192,U+F1AD,U+F1C1-F1C9,U+F1CD,U+F1D8,U+F1E3,U+F1EA,U+F1F6,U+F1F9,U+F20A,U+F247-F249,U+F24D,U+F254-F25B,U+F25D,U+F267,U+F271-F274,U+F279,U+F28B,U+F28D,U+F2B5-F2B6,U+F2B9,U+F2BB,U+F2BD,U+F2C1-F2C2,U+F2D0,U+F2D2,U+F2DC,U+F2ED,U+F328,U+F358-F35B,U+F3A5,U+F3D1,U+F410,U+F4AD;
}
</style>
<style type="text/css" id="wp-custom-css">
			

/** Start Envato Elements CSS: Tech (general business) (171-3-7eeb504fef9cb2162a4da0a664ed05a3) **/

/* Envato Template Kits Custom Styles
 * Apply to the Advanced tab of the element it affects
 * Illustrations by Humaaans
 */
.envato-kit-175-slide .slick-slide-bg.elementor-ken-out, .envato-kit-175-slide .slick-slide-bg.elementor-ken-in{
transform: scale(1.2);
}
.envato-kit-175-slide .slick-slider .slick-track{
	overflow: visible !important;
}
 /* List Style with icon BG */
.envato-kit-175-list-style-light .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-light .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #F5F7FF;
}

.envato-kit-175-list-style-extra .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-extra .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #FFB200;
}

.envato-kit-175-list-style-dark .elementor-icon-list-icon {
		width: 50px !important;
}

.envato-kit-175-list-style-dark .elementor-icon-list-icon i {
		padding: 0.75em;
		border-radius: 50%;
		background-color: #3235D8;
}
/* Accordion shadow*/
.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item {
		margin: 10px 0;
		border-radius: 20px;
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item:first-child {
		margin-top: 0;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-active {
		margin-bottom: 30px;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-tab-title {
		margin-bottom: 0;
}

.envato-kit-175-accordion-style .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {
		padding-bottom: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item {
		margin: 30px 0;
		border: 10px solid #F5F7FF !important;
		border-radius: 20px;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item:first-child {
		margin-top: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-active {
		margin-bottom: 30px;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-tab-title {
		margin-bottom: 0;
}

.envato-kit-175-accordion-style2 .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {
		padding-bottom: 0;
}


.envato-kit-175-img-box-style .elementor-image-box-title {
		margin-top: 0;
}

.envato-kit-175-icon-box-style .elementor-icon-box-title {
		margin: 0;
}
/* Left-Aligned Pricing Tables */
.envato-kit-175-price-style .elementor-price-table {
		text-align: left;
}

.envato-kit-175-price-style .elementor-price-table .elementor-price-table__price {
		justify-content: start;
}


.envato-kit-175-price-style .elementor-price-table__features-list {
		text-align: left !important;
}

.envato-kit-175-price-style .elementor-price-table .elementor-price-table__features-list li .elementor-price-table__feature-inner  {
		margin-left: 0;
		margin-right: 0;
}

.envato-kit-175-price-style .elementor-price-table__feature-inner i {
		font-size: 1em;
		font-weight: 100;
		padding: 0.45em;
		border-radius: 50%;
		background-color: #f4f4f4;
	color: #ff4935 !important;
}

.envato-kit-175-price-style-extra .elementor-price-table {
		text-align: left;
}

.envato-kit-175-price-style-extra .elementor-price-table .elementor-price-table__price {
		justify-content: start;
}

.envato-kit-175-price-style-extra .elementor-price-table__features-list {
		text-align: left !important;
}

.envato-kit-175-price-style-extra .elementor-price-table .elementor-price-table__features-list li .elementor-price-table__feature-inner  {
		margin-left: 0;
		margin-right: 0;
}

.envato-kit-175-price-style-extra .elementor-price-table__feature-inner i {
		font-size: 1em;
		font-weight: 100;
		padding: 0.45em;
		border-radius: 50%;
		background-color: #f4f4f4;
}

.envato-kit-175-row-hover-style .elementor-column-wrap .elementor-heading-title {
		opacity: 0;
		transition: all .3s ease-in-out; 
}

.envato-kit-175-row-hover-style .elementor-column-wrap:hover .elementor-heading-title {
		opacity: 1; 
}


/** End Envato Elements CSS: Tech (general business) (171-3-7eeb504fef9cb2162a4da0a664ed05a3) **/



/** Start Envato Elements CSS: Blocks (136-3-fc37602abad173a9d9d95d89bbe6bb80) **/

.envato-block__preview{overflow: visible !important;}

/** End Envato Elements CSS: Blocks (136-3-fc37602abad173a9d9d95d89bbe6bb80) **/



/** Start Envato Elements CSS: Blocks (69-3-4f8cfb8a1a68ec007f2be7a02bdeadd9) **/

.envato-kit-66-menu .e--pointer-framed .elementor-item:before{
	border-radius:1px;
}

.envato-kit-66-subscription-form .elementor-form-fields-wrapper{
	position:relative;
}

.envato-kit-66-subscription-form .elementor-form-fields-wrapper .elementor-field-type-submit{
	position:static;
}

.envato-kit-66-subscription-form .elementor-form-fields-wrapper .elementor-field-type-submit button{
	position: absolute;
    top: 50%;
    right: 6px;
    transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-webmit-transform: translate(0, -50%);
}

.envato-kit-66-testi-slider .elementor-testimonial__footer{
	margin-top: -60px !important;
	z-index: 99;
  position: relative;
}

.envato-kit-66-featured-slider .elementor-slides .slick-prev{
	width:50px;
	height:50px;
	background-color:#ffffff !important;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	left:-25px !important;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.32);
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.32);
}

.envato-kit-66-featured-slider .elementor-slides .slick-prev:before{
	display:block;
	margin-top:0px;
	margin-left:0px;
	transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

.envato-kit-66-featured-slider .elementor-slides .slick-next{
	width:50px;
	height:50px;
	background-color:#ffffff !important;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	right:-25px !important;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.32);
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.32);
}

.envato-kit-66-featured-slider .elementor-slides .slick-next:before{
	display:block;
	margin-top:-5px;
	margin-right:-5px;
	transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

.envato-kit-66-orangetext{
	color:#f4511e;
}

.envato-kit-66-countdown .elementor-countdown-label{
	display:inline-block !important;
	border:2px solid rgba(255,255,255,0.2);
	padding:9px 20px;
}

.btn.contact {
   
  
    border-radius: 3px;
    padding: 9px 25px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing:0;
}

.top-right-nav
{
	display:none !important;
}
.main-navigation .right-nav {
    width: auto  !important;
    padding-left: 0  !important;
}
.mc4wp-form {
    float: none !important;
}
/** End Envato Elements CSS: Blocks (69-3-4f8cfb8a1a68ec007f2be7a02bdeadd9) **/

		</style>
		<style id="keyframesjs-stylesheet"></style>
        </head>

    <body>
       <div id="content" class="site-content">
		<div data-elementor-type="post" data-elementor-id="13306" class="elementor elementor-13306" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-3992a3fc elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="3992a3fc" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-4e9271d elementor-column elementor-col-100 elementor-top-column" data-id="4e9271d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-d4d4c7c elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="d4d4c7c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-71a95f3 elementor-column elementor-col-100 elementor-inner-column" data-id="71a95f3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-904a0d4 animated-slow elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInDown" data-id="904a0d4" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="250" height="100" src="https://javracommerce.com/wp-content/uploads/2020/01/logo1.png" class="attachment-standard-size size-standard-size" alt="">											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		
				<section class="elementor-element elementor-element-6a02db35 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6a02db35" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    						<div class="elementor-container elementor-column-gap-default">
    				<div class="elementor-row">
    				<div class="elementor-element elementor-element-360763d9 elementor-column elementor-col-100 elementor-top-column" data-id="360763d9" data-element_type="column">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<section class="elementor-element elementor-element-4d75976 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4d75976" data-element_type="section">
    						<div class="elementor-container elementor-column-gap-default">
    				<div class="elementor-row">
    				<div class="elementor-element elementor-element-6d062e3 elementor-column elementor-col-100 elementor-inner-column" data-id="6d062e3" data-element_type="column">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-3dbe1447 animated-slow elementor-widget elementor-widget-heading animated fadeInDown" data-id="3dbe1447" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:200,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<h2 class="elementor-heading-title elementor-size-default">{{ pimcore_input("Headline") }}</h2>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    						</div>
    			</div>
    		</section>
    				<section class="elementor-element elementor-element-4418a53 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4418a53" data-element_type="section">
    						<div class="elementor-container elementor-column-gap-default">
    				<div class="elementor-row">
    				<div class="elementor-element elementor-element-e49d46a elementor-column elementor-col-100 elementor-inner-column" data-id="e49d46a" data-element_type="column">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-341978f animated-slow elementor-widget elementor-widget-text-editor animated fadeInUp" data-id="341978f" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:400,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
    				<div class="elementor-widget-container">
    					<div class="elementor-text-editor elementor-clearfix">
                        <p>{{ pimcore_textarea( "content") }}</p></div>
    				</div>
    				</div>
    						</div>
    			</div>
    		</div>
    						</div>
    			</div>
    		</section>
    				<section class="elementor-element elementor-element-7c0bc1de elementor-hidden-desktop elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="7c0bc1de" data-element_type="section">
    						<div class="elementor-container elementor-column-gap-default">
    				<div class="elementor-row">
    				<div class="elementor-element elementor-element-75be7241 animated-slow elementor-column elementor-col-16 elementor-inner-column animated fadeInUp" data-id="75be7241" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-3ffca01c animated-slow elementor-widget elementor-widget-heading animated fadeInLeft" data-id="3ffca01c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Product Information Management</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-6928e0fb animated-slow elementor-column elementor-col-16 elementor-inner-column animated fadeInUp" data-id="6928e0fb" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-3b41717d animated-slow elementor-widget elementor-widget-heading animated fadeInDown" data-id="3b41717d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Master Data Management</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-711439b8 animated-slow elementor-column elementor-col-16 elementor-inner-column animated fadeInUp" data-id="711439b8" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-3d8be1e7 animated-slow elementor-widget elementor-widget-heading animated fadeInRight" data-id="3d8be1e7" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Customer Data Platform</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-71c033c animated-slow elementor-column elementor-col-16 elementor-inner-column animated fadeInUp" data-id="71c033c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-f504715 animated-slow elementor-widget elementor-widget-heading animated fadeInRight" data-id="f504715" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Digital Asset Management</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-4abe7cd animated-slow elementor-column elementor-col-16 elementor-inner-column animated fadeInUp" data-id="4abe7cd" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-3936454 animated-slow elementor-widget elementor-widget-heading animated fadeInRight" data-id="3936454" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Digital Commerce Platform</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-d6437ea animated-slow elementor-column elementor-col-16 elementor-inner-column animated fadeInUp" data-id="d6437ea" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-d962e56 animated-slow elementor-widget elementor-widget-heading animated fadeInRight" data-id="d962e56" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Content Management</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    						</div>
    			</div>
    		</section>
    				<section class="elementor-element elementor-element-c6a6cf2 elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="c6a6cf2" data-element_type="section">
    						<div class="elementor-container elementor-column-gap-default">
    				<div class="elementor-row">
    				<div class="elementor-element elementor-element-e47d18d animated-slow elementor-column elementor-col-33 elementor-inner-column animated fadeInUp" data-id="e47d18d" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-cc45e3d animated-slow elementor-widget elementor-widget-heading animated fadeInLeft" data-id="cc45e3d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Product Information Management</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-138cda7 animated-slow elementor-column elementor-col-33 elementor-inner-column animated fadeInUp" data-id="138cda7" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:600,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-0dfc8fa animated-slow elementor-widget elementor-widget-heading animated fadeInDown" data-id="0dfc8fa" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Master Data Management</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-c19cddb animated-slow elementor-column elementor-col-33 elementor-inner-column animated fadeInUp" data-id="c19cddb" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-3f7537e animated-slow elementor-widget elementor-widget-heading animated fadeInRight" data-id="3f7537e" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Customer Data Platform</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    						</div>
    			</div>
    		</section>
    				<section class="elementor-element elementor-element-2114720 elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="2114720" data-element_type="section">
    						<div class="elementor-container elementor-column-gap-default">
    				<div class="elementor-row">
    				<div class="elementor-element elementor-element-39a3460 animated-slow elementor-column elementor-col-33 elementor-inner-column animated fadeInUp" data-id="39a3460" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:600,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-330ab85 animated-slow elementor-widget elementor-widget-heading animated fadeInLeft" data-id="330ab85" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Digital Asset Management</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-6b1338c animated-slow elementor-column elementor-col-33 elementor-inner-column animated fadeInUp" data-id="6b1338c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:800,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-37cae8d animated-slow elementor-widget elementor-widget-heading animated fadeInUp" data-id="37cae8d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Digital Commerce Platform</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    				<div class="elementor-element elementor-element-9c3a7b8 animated-slow elementor-column elementor-col-33 elementor-inner-column animated fadeInUp" data-id="9c3a7b8" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:600,&quot;animation_mobile&quot;:&quot;none&quot;}">
    			<div class="elementor-column-wrap  elementor-element-populated">
    					<div class="elementor-widget-wrap">
    				<div class="elementor-element elementor-element-a230a81 animated-slow elementor-widget elementor-widget-heading animated fadeInRight" data-id="a230a81" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="heading.default">
    				<div class="elementor-widget-container">
    			<span class="elementor-heading-title elementor-size-default"><a href="#" target="_blank">Content Management</a></span>		</div>
    				</div>
    						</div>
    			</div>
    		</div>
    						</div>
    			</div>
    		</section>
    				<div class="elementor-element elementor-element-566003a animated-slow elementor-widget elementor-widget-eael-creative-button animated fadeInUp" data-id="566003a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:800,&quot;_animation_mobile&quot;:&quot;none&quot;}" data-widget_type="eael-creative-button.default">
    				<div class="elementor-widget-container">
    				<div class="eael-creative-button-wrapper">
    		<a class="eael-creative-button eael-creative-button--winona" href="https://javracommerce.com/?page_id=11476" data-text="Go!">
    			<span>
    				
    				Contact Us
    							</span>
    		</a>
    	</div>
    			</div>
    				</div>
    						</div>
    			</div>
    		</div>
    						</div>
    			</div>
    		</section>
						</div>
			</div>
		</div>
		<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-161919368-1']);
_gaq.push(['_setCustomVar', 1, 'visitor', 'page']);
_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

</div>
    </body>
</html>